In [1]:
#Import Data From CSV file
import pandas as pd

df = pd.read_csv(r"C:\Users\Ayusha\Documents\Social Media.csv")
print(df)

     Student_ID  Age  Gender Academic_Level     Country  \
0             1   19  Female  Undergraduate  Bangladesh
1             2   22    Male       Graduate       India
2             3   20  Female  Undergraduate         USA
3             4   18    Male    High School          UK
4             5   21    Male       Graduate      Canada
..          ...  ...     ...            ...         ...
700         701   20  Female  Undergraduate       Italy
701         702   23    Male       Graduate      Russia
702         703   21  Female  Undergraduate       China
703         704   24    Male       Graduate       Japan
704         705   19  Female  Undergraduate      Poland

     Avg_Daily_Usage_Hours Most_Used_Platform Affects_Academic_Performance  \
0                      5.2          Instagram                          Yes
1                      2.1            Twitter                           No
2                      6.0             TikTok                          Yes
3                      3.0            YouTube                           No
4                      4.5           Facebook                          Yes
..                     ...                ...                          ...
700                    4.7             TikTok                           No
701                    6.8          Instagram                          Yes
702                    5.6             WeChat                          Yes
703                    4.3            Twitter                           No
704                    6.2           Facebook                          Yes

     Sleep_Hours_Per_Night  Mental_Health_Score Relationship_Status  \
0                      6.5                    6     In Relationship
1                      7.5                    8              Single
2                      5.0                    5         Complicated
3                      7.0                    7              Single
4                      6.0                    6     In Relationship
..                     ...                  ...                 ...
700                    7.2                    7     In Relationship
701                    5.9                    4              Single
702                    6.7                    6     In Relationship
703                    7.5                    8              Single
704                    6.3                    5              Single

     Conflicts_Over_Social_Media  Addicted_Score
0                              3               8
1                              0               3
2                              4               9
3                              1               4
4                              2               7
..                           ...             ...
700                            2               5
701                            5               9
702                            3               7
703                            2               4
704                            4               8

[705 rows x 13 columns]

In [2]:
#"Top 5 Records of the Dataset"
import pandas as pd

df = pd.read_csv(r"C:\Users\Ayusha\Documents\Social Media.csv")
print(df)
df.head(5)

     Student_ID  Age  Gender Academic_Level     Country  \
0             1   19  Female  Undergraduate  Bangladesh
1             2   22    Male       Graduate       India
2             3   20  Female  Undergraduate         USA
3             4   18    Male    High School          UK
4             5   21    Male       Graduate      Canada
..          ...  ...     ...            ...         ...
700         701   20  Female  Undergraduate       Italy
701         702   23    Male       Graduate      Russia
702         703   21  Female  Undergraduate       China
703         704   24    Male       Graduate       Japan
704         705   19  Female  Undergraduate      Poland

     Avg_Daily_Usage_Hours Most_Used_Platform Affects_Academic_Performance  \
0                      5.2          Instagram                          Yes
1                      2.1            Twitter                           No
2                      6.0             TikTok                          Yes
3                      3.0            YouTube                           No
4                      4.5           Facebook                          Yes
..                     ...                ...                          ...
700                    4.7             TikTok                           No
701                    6.8          Instagram                          Yes
702                    5.6             WeChat                          Yes
703                    4.3            Twitter                           No
704                    6.2           Facebook                          Yes

     Sleep_Hours_Per_Night  Mental_Health_Score Relationship_Status  \
0                      6.5                    6     In Relationship
1                      7.5                    8              Single
2                      5.0                    5         Complicated
3                      7.0                    7              Single
4                      6.0                    6     In Relationship
..                     ...                  ...                 ...
700                    7.2                    7     In Relationship
701                    5.9                    4              Single
702                    6.7                    6     In Relationship
703                    7.5                    8              Single
704                    6.3                    5              Single

     Conflicts_Over_Social_Media  Addicted_Score
0                              3               8
1                              0               3
2                              4               9
3                              1               4
4                              2               7
..                           ...             ...
700                            2               5
701                            5               9
702                            3               7
703                            2               4
704                            4               8

[705 rows x 13 columns]

,Student_ID,Age,Gender,Academic_Level,Country,Avg_Daily_Usage_Hours,Most_Used_Platform,Affects_Academic_Performance,Sleep_Hours_Per_Night,Mental_Health_Score,Relationship_Status,Conflicts_Over_Social_Media,Addicted_Score
0,1,19,Female,Undergraduate,Bangladesh,5.2,Instagram,Yes,6.5,6,In Relationship,3,8
1,2,22,Male,Graduate,India,2.1,Twitter,No,7.5,8,Single,0,3
2,3,20,Female,Undergraduate,USA,6.0,TikTok,Yes,5.0,5,Complicated,4,9
3,4,18,Male,High School,UK,3.0,YouTube,No,7.0,7,Single,1,4
4,5,21,Male,Graduate,Canada,4.5,Facebook,Yes,6.0,6,In Relationship,2,7

In [1]:
#"Last 5 Records of the Dataset"
import pandas as pd

df = pd.read_csv(r"C:\Users\Ayusha\Documents\Social Media.csv")
print(df.tail(5))

     Student_ID  Age  Gender Academic_Level Country  Avg_Daily_Usage_Hours  \
700         701   20  Female  Undergraduate   Italy                    4.7
701         702   23    Male       Graduate  Russia                    6.8
702         703   21  Female  Undergraduate   China                    5.6
703         704   24    Male       Graduate   Japan                    4.3
704         705   19  Female  Undergraduate  Poland                    6.2

    Most_Used_Platform Affects_Academic_Performance  Sleep_Hours_Per_Night  \
700             TikTok                           No                    7.2
701          Instagram                          Yes                    5.9
702             WeChat                          Yes                    6.7
703            Twitter                           No                    7.5
704           Facebook                          Yes                    6.3

     Mental_Health_Score Relationship_Status  Conflicts_Over_Social_Media  \
700                    7     In Relationship                            2
701                    4              Single                            5
702                    6     In Relationship                            3
703                    8              Single                            2
704                    5              Single                            4

     Addicted_Score
700               5
701               9
702               7
703               4
704               8

In [6]:
#shows dataset structure 
import pandas as pd

df = pd.read_csv(r"C:\Users\Ayusha\Documents\Social Media.csv")
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 705 entries, 0 to 704
Data columns (total 13 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Student_ID                    705 non-null    int64
 1   Age                           705 non-null    int64
 2   Gender                        705 non-null    object
 3   Academic_Level                705 non-null    object
 4   Country                       705 non-null    object
 5   Avg_Daily_Usage_Hours         705 non-null    float64
 6   Most_Used_Platform            705 non-null    object
 7   Affects_Academic_Performance  705 non-null    object
 8   Sleep_Hours_Per_Night         705 non-null    float64
 9   Mental_Health_Score           705 non-null    int64
 10  Relationship_Status           705 non-null    object
 11  Conflicts_Over_Social_Media   705 non-null    int64
 12  Addicted_Score                705 non-null    int64
dtypes: float64(2), int64(5), object(6)
memory usage: 71.7+ KB
None

In [7]:
#"Statistical Summary of Numerical Columns"
import pandas as pd

df = pd.read_csv(r"C:\Users\Ayusha\Documents\Social Media.csv")
print(df.describe())

       Student_ID         Age  Avg_Daily_Usage_Hours  Sleep_Hours_Per_Night  \
count  705.000000  705.000000             705.000000             705.000000
mean   353.000000   20.659574               4.918723               6.868936
std    203.660256    1.399217               1.257395               1.126848
min      1.000000   18.000000               1.500000               3.800000
25%    177.000000   19.000000               4.100000               6.000000
50%    353.000000   21.000000               4.800000               6.900000
75%    529.000000   22.000000               5.800000               7.700000
max    705.000000   24.000000               8.500000               9.600000

       Mental_Health_Score  Conflicts_Over_Social_Media  Addicted_Score
count           705.000000                   705.000000      705.000000
mean              6.226950                     2.849645        6.436879
std               1.105055                     0.957968        1.587165
min               4.000000                     0.000000        2.000000
25%               5.000000                     2.000000        5.000000
50%               6.000000                     3.000000        7.000000
75%               7.000000                     4.000000        8.000000
max               9.000000                     5.000000        9.000000

In [2]:
#"Dataset Dimensions and Column Names"
import pandas as pd
df = pd.read_csv(r"C:\Users\Ayusha\Documents\Social Media.csv")
print(f'shape:{df.shape}')
print(f'Columns Name:{df.columns}')

shape:(705, 13)
Columns Name:Index(['Student_ID', 'Age', 'Gender', 'Academic_Level', 'Country',
       'Avg_Daily_Usage_Hours', 'Most_Used_Platform',
       'Affects_Academic_Performance', 'Sleep_Hours_Per_Night',
       'Mental_Health_Score', 'Relationship_Status',
       'Conflicts_Over_Social_Media', 'Addicted_Score'],
      dtype='object')

In [8]:
#Extraxt Single Column
import pandas as pd
df = pd.read_csv(r"C:\Users\Ayusha\Documents\Social Media.csv")
column =df["Country"]
print(column)

0      Bangladesh
1           India
2             USA
3              UK
4          Canada
          ...
700         Italy
701        Russia
702         China
703         Japan
704        Poland
Name: Country, Length: 705, dtype: object

In [11]:
#Extraxt 2 or More columns
import pandas as pd
df = pd.read_csv(r"C:\Users\Ayusha\Documents\Social Media.csv")
subset =df[["Student_ID","Academic_Level","Avg_Daily_Usage_Hours"]]
print(subset)

     Student_ID Academic_Level  Avg_Daily_Usage_Hours
0             1  Undergraduate                    5.2
1             2       Graduate                    2.1
2             3  Undergraduate                    6.0
3             4    High School                    3.0
4             5       Graduate                    4.5
..          ...            ...                    ...
700         701  Undergraduate                    4.7
701         702       Graduate                    6.8
702         703  Undergraduate                    5.6
703         704       Graduate                    4.3
704         705  Undergraduate                    6.2

[705 rows x 3 columns]

In [12]:
#"Users with High Daily Usage
import pandas as pd
df = pd.read_csv(r"C:\Users\Ayusha\Documents\Social Media.csv")
Max_Avg_DailyUsage= df[df["Avg_Daily_Usage_Hours"]>5]
print(Max_Avg_DailyUsage)

     Student_ID  Age  Gender Academic_Level     Country  \
0             1   19  Female  Undergraduate  Bangladesh
2             3   20  Female  Undergraduate         USA
5             6   19  Female  Undergraduate   Australia
7             8   20  Female  Undergraduate      Brazil
11           12   20  Female  Undergraduate       Spain
..          ...  ...     ...            ...         ...
698         699   19  Female  Undergraduate      Canada
699         700   22    Male       Graduate          UK
701         702   23    Male       Graduate      Russia
702         703   21  Female  Undergraduate       China
704         705   19  Female  Undergraduate      Poland

     Avg_Daily_Usage_Hours Most_Used_Platform Affects_Academic_Performance  \
0                      5.2          Instagram                          Yes
2                      6.0             TikTok                          Yes
5                      7.2          Instagram                          Yes
7                      5.8           Snapchat                          Yes
11                     5.5             TikTok                          Yes
..                     ...                ...                          ...
698                    5.7          Instagram                          Yes
699                    6.2            Twitter                          Yes
701                    6.8          Instagram                          Yes
702                    5.6             WeChat                          Yes
704                    6.2           Facebook                          Yes

     Sleep_Hours_Per_Night  Mental_Health_Score Relationship_Status  \
0                      6.5                    6     In Relationship
2                      5.0                    5         Complicated
5                      4.5                    4         Complicated
7                      6.0                    6     In Relationship
11                     5.8                    6     In Relationship
..                     ...                  ...                 ...
698                    6.6                    6              Single
699                    6.3                    5              Single
701                    5.9                    4              Single
702                    6.7                    6     In Relationship
704                    6.3                    5              Single

     Conflicts_Over_Social_Media  Addicted_Score
0                              3               8
2                              4               9
5                              5               9
7                              2               8
11                             2               8
..                           ...             ...
698                            3               7
699                            4               8
701                            5               9
702                            3               7
704                            4               8

[294 rows x 13 columns]

In [15]:
#"Users with High Daily Usage and High Addiction Score"
import pandas as pd
df = pd.read_csv(r"C:\Users\Ayusha\Documents\Social Media.csv")
Filter = df[(df["Avg_Daily_Usage_Hours"]>5) & (df["Addicted_Score"]>7)]
print(Filter)

     Student_ID  Age  Gender Academic_Level     Country  \
0             1   19  Female  Undergraduate  Bangladesh
2             3   20  Female  Undergraduate         USA
5             6   19  Female  Undergraduate   Australia
7             8   20  Female  Undergraduate      Brazil
11           12   20  Female  Undergraduate       Spain
..          ...  ...     ...            ...         ...
694         695   20  Female  Undergraduate      Turkey
696         697   21  Female  Undergraduate      Mexico
699         700   22    Male       Graduate          UK
701         702   23    Male       Graduate      Russia
704         705   19  Female  Undergraduate      Poland

     Avg_Daily_Usage_Hours Most_Used_Platform Affects_Academic_Performance  \
0                      5.2          Instagram                          Yes
2                      6.0             TikTok                          Yes
5                      7.2          Instagram                          Yes
7                      5.8           Snapchat                          Yes
11                     5.5             TikTok                          Yes
..                     ...                ...                          ...
694                    6.6          Instagram                          Yes
696                    6.3             TikTok                          Yes
699                    6.2            Twitter                          Yes
701                    6.8          Instagram                          Yes
704                    6.2           Facebook                          Yes

     Sleep_Hours_Per_Night  Mental_Health_Score Relationship_Status  \
0                      6.5                    6     In Relationship
2                      5.0                    5         Complicated
5                      4.5                    4         Complicated
7                      6.0                    6     In Relationship
11                     5.8                    6     In Relationship
..                     ...                  ...                 ...
694                    6.1                    5              Single
696                    6.2                    5              Single
699                    6.3                    5              Single
701                    5.9                    4              Single
704                    6.3                    5              Single

     Conflicts_Over_Social_Media  Addicted_Score
0                              3               8
2                              4               9
5                              5               9
7                              2               8
11                             2               8
..                           ...             ...
694                            4               8
696                            4               8
699                            4               8
701                            5               9
704                            4               8

[181 rows x 13 columns]

In [3]:
#Find Null Values
import pandas as pd
df = pd.read_csv(r"C:\Users\Ayusha\Documents\Social Media.csv")
print(df.isnull())

     Student_ID    Age  Gender  Academic_Level  Country  \
0         False  False   False           False    False
1         False  False   False           False    False
2         False  False   False           False    False
3         False  False   False           False    False
4         False  False   False           False    False
..          ...    ...     ...             ...      ...
700       False  False   False           False    False
701       False  False   False           False    False
702       False  False   False           False    False
703       False  False   False           False    False
704       False  False   False           False    False

     Avg_Daily_Usage_Hours  Most_Used_Platform  Affects_Academic_Performance  \
0                    False               False                         False
1                    False               False                         False
2                    False               False                         False
3                    False               False                         False
4                    False               False                         False
..                     ...                 ...                           ...
700                  False               False                         False
701                  False               False                         False
702                  False               False                         False
703                  False               False                         False
704                  False               False                         False

     Sleep_Hours_Per_Night  Mental_Health_Score  Relationship_Status  \
0                    False                False                False
1                    False                False                False
2                    False                False                False
3                    False                False                False
4                    False                False                False
..                     ...                  ...                  ...
700                  False                False                False
701                  False                False                False
702                  False                False                False
703                  False                False                False
704                  False                False                False

     Conflicts_Over_Social_Media  Addicted_Score
0                          False           False
1                          False           False
2                          False           False
3                          False           False
4                          False           False
..                           ...             ...
700                        False           False
701                        False           False
702                        False           False
703                        False           False
704                        False           False

[705 rows x 13 columns]

In [13]:
#Sorting Age By Ascending Order
import pandas as pd
df = pd.read_csv(r"C:\Users\Ayusha\Documents\Social Media.csv")
df.sort_values(by = "Age",ascending=True, inplace=True)
print(df)

     Student_ID  Age  Gender Academic_Level    Country  Avg_Daily_Usage_Hours  \
70           71   18    Male    High School     Latvia                    5.4
103         104   18  Female    High School      Syria                    5.6
44           45   18    Male    High School  Argentina                    5.5
32           33   18    Male    High School  Indonesia                    5.4
96           97   18    Male    High School     Kuwait                    5.7
..          ...  ...     ...            ...        ...                    ...
575         576   24    Male       Graduate     Turkey                    6.8
655         656   24    Male       Graduate      Spain                    6.5
661         662   24    Male       Graduate        USA                    5.4
685         686   24    Male       Graduate      China                    5.5
624         625   24  Female       Graduate      India                    7.0

    Most_Used_Platform Affects_Academic_Performance  Sleep_Hours_Per_Night  \
70            Snapchat                          Yes                    5.5
103          Instagram                          Yes                    5.4
44              TikTok                          Yes                    5.3
32              TikTok                          Yes                    5.4
96            Snapchat                          Yes                    5.3
..                 ...                          ...                    ...
575             TikTok                          Yes                    6.2
655           Facebook                          Yes                    6.1
661            Twitter                          Yes                    6.8
685             WeChat                          Yes                    6.8
624             TikTok                          Yes                    5.8

     Mental_Health_Score Relationship_Status  Conflicts_Over_Social_Media  \
70                     5              Single                            4
103                    5              Single                            4
44                     5              Single                            4
32                     5         Complicated                            4
96                     5     In Relationship                            4
..                   ...                 ...                          ...
575                    5              Single                            4
655                    5              Single                            4
661                    6     In Relationship                            3
685                    6     In Relationship                            3
624                    4              Single                            5

     Addicted_Score
70                8
103               8
44                8
32                8
96                8
..              ...
575               8
655               8
661               7
685               7
624               9

[705 rows x 13 columns]

In [16]:
#"Average Addicted Score"
import pandas as pd
df = pd.read_csv(r"C:\Users\Ayusha\Documents\Social Media.csv")
print(df["Addicted_Score "].mean())

6.436879432624114

In [18]:
import pandas as pd
df = pd.read_csv(r"C:\Users\Ayusha\Documents\Social Media.csv")
print(df["Student_ID"].count())

705

In [19]:
#"Total Mental Health Score"
import pandas as pd
df = pd.read_csv(r"C:\Users\Ayusha\Documents\Social Media.csv")
print(df["Mental_Health_Score"].sum())

4390

In [24]:
#"Maximum Addicted Score"
import pandas as pd
df = pd.read_csv(r"C:\Users\Ayusha\Documents\Social Media.csv")
print(df["Addicted_Score"].max())

9

In [25]:
#"Minimum Addicted Score"
import pandas as pd
df = pd.read_csv(r"C:\Users\Ayusha\Documents\Social Media.csv")
print(df["Addicted_Score"].min())

2

In [27]:
#"Social Media Platform Used by the Highest Number of Students"
import pandas as pd

df = pd.read_csv(r"C:\Users\Ayusha\Documents\Social Media.csv")

# Count how many students use each platform
platform_counts = df["Most_Used_Platform"].value_counts()

# Get the platform with the maximum count
most_used_platform = platform_counts.idxmax()  # platform name
max_count = platform_counts.max()              # number of students

print(f"Platform used by the maximum number of students: {most_used_platform}")
print(f"Number of students using it: {max_count}")

Platform used by the maximum number of students: Instagram
Number of students using it: 249

In [36]:
#"Count of Students by Most Used Social Media Platform"
import pandas as pd
df = pd.read_csv(r"C:\Users\Ayusha\Documents\Social Media.csv")
Grouped = df.groupby("Most_Used_Platform")["Student_ID"].count()
print(Grouped)

Most_Used_Platform
Facebook     123
Instagram    249
KakaoTalk     12
LINE          12
LinkedIn      21
Snapchat      13
TikTok       154
Twitter       30
VKontakte     12
WeChat        15
WhatsApp      54
YouTube       10
Name: Student_ID, dtype: int64